.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://cogcomp.cs.illinois.edu') Cognitive Computation Group
			|  2016

link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/jquery.searchable.js')
script(src='/scripts/mysearch.js')

block footer