doctype html
html
	head
		block head
			block title
				title Illinois-Edison Web Interface
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			| <style>
			| body { padding-top: 60px; }
			| code.language-clike { white-space: pre; }
			| </style>
			script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
			script(type='text/javascript' src='https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js')

	body
		include header

		block content

		include footer