.col-md-6 {
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 24%;
    margin-right: auto;
    text-align: center;
}

.row {
    width: 100%;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
